<div class="row">
    <div class="col">
        <h3>Add Post</h3>

        <form action="/add-post" method="POST">
            <input type="text" name="title" placeholder="Enter title" required>
            <textarea name="content" id="" cols="30" rows="10" placeholder="Enter Content" required></textarea>
            <button type="submit">Add</button>
        </form>
    </div>
</div>