<div class="row">
    <div class="col">
        <h2>Update Post</h2>

        <form action="/update-post/<%= post._id %>" method="POST">
            <input type="text" name="title" placeholder="Enter title" value="<%= post.title %>" required>
            <textarea name="content" id="" cols="30" rows="10" placeholder="Enter Content"  required><%= post.content %></textarea>
            <button type="submit">update</button>
        </form>
    </div>
</div>