<div class="row">
    <div class="col">
        <h2>Post List</h2>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if(posts.length > 0) { %>
                    <% for(let post of posts) { %>
                        <tr>
                            <td><%= post.title %></td>
                            <td><%= post.content %></td>
                            <td>
                                <a href="/edit-post/<%= post._id %>"><button>Edit</button></a>

                                <form action="/delete-post/<%= post._id %>" method="POST">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>